@model sale_net8.Data.Entities.Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <partial name="_categoryDetails" model="Model"></partial>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Voltar à lista</a>
    </form>
</div>