@model sale_net8.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
  <partial name="_countryDetails"/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
